/*
======= COLORS ======
*/
$orange: #fd5825;
$signal-black: #222222;
$linen: #f7efe5;

/*
======= BREAKPOINTS ======
*/
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1440px;
