$spanish-white: #F6F1E0;
$tundora: #4a4a4a;
body,html {
  height:100%;
}
body {
  background: $spanish-white;
  color: $tundora;
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

body,html {
  height: 100%
}

body {
  background: #f6f1e0;
  color: #4a4a4a
}

.home-content {
  display: flex;
  height: 100%;
  min-height:100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 64px 0
}

.home-content p {
  max-width: 420px;
  line-height: 2
}

.home-content p.nope {
  font-size: .75rem;
  text-decoration: line-through;
  line-height: 1.2
}

.home-content .logo {
  font-family: 'Bangla MN',Vrinda,sans-serif;
  font-weight: 400;
  font-size: 1.125rem
}

.home-content  {
  .lede {
    font-family: fabrik,sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 14px
  }

  p {
    margin: 0 auto 1.45rem;
  }
}

.oh-hi {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}