@import './common/normalize';
@import './common/shared';
@import './common/type';

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background: $spanish-white;
  color: $tundora;
}


body,
html {
  height: 100%
}

body {
  background: #f6f1e0;
  color: #4a4a4a
}